.certificate-section {
  padding: 60px 20px;
  background: #0f172a;
  color: #fff;
}

.certificate-title {
  text-align: center;
  font-size: 32px;
  margin-bottom: 40px;
  color: #38bdf8;
}

.certificate-grid {
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.certificate-card {
  background: #020617;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #1e293b;
  transition: 0.3s ease;
}

.certificate-card:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.25);
}

.certificate-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #e5e7eb;
}

.certificate-card p {
  font-size: 14px;
  margin-bottom: 8px;
  color: #cbd5f5;
}

.certificate-card span {
  color: #38bdf8;
  font-weight: 600;
}

.view-btn {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 18px;
  background: #38bdf8;
  color: #020617;
  border-radius: 8px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s ease;
}

.view-btn:hover {
  background: black;
  border: 2px solid  #38bdf8;
  color: white;

}

/* Responsive */
@media (max-width: 900px) {
  .certificate-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .certificate-grid {
    grid-template-columns: 1fr;
  }
}


.certificate-card {
  position: relative;
  background: #020617;
  padding: 25px;
  border-radius: 16px;
  border: 1px solid #1e293b;
  transition: 0.3s ease;
}

/* DATE BADGE */
.cert-date {
  position: absolute;
  top: 15px;
  right: 15px;
  background: black;
  color: aqua;
  padding: 4px 10px;
  border: 2px solid #38bdf8;
  border-radius: 20px;
  font-size: 12px;
  font-weight: 700;
}

.certificate-card:hover {
  transform: translateY(-8px);
  border-color: #38bdf8;
  box-shadow: 0 12px 30px rgba(56, 189, 248, 0.25);
}
