/* ================= RESET ================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ================= NAVBAR ================= */
.navbar {
  width: 100%;
  height: 70px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 10px 35px rgba(0,0,0,0.6);
}

/* ================= LOGO ================= */
.logo {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: 0.5px;
  color: #eaeaea;
  display: flex;
  align-items: center;
}

.logo .my {
  color: #4fd1c5;
  font-weight: 800;
  position: relative;
}

.logo .my::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, #4fd1c5, transparent);
  border-radius: 2px;
}

/* ================= NAV LINKS (DESKTOP) ================= */
.nav-links {
  display: flex;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.nav-links a:hover {
  background: #00e5ff;
  color: #000;
  box-shadow: 0 10px 25px rgba(0,229,255,0.6);
}

/* ================= HAMBURGER ================= */
.menu-icon {
  width: 32px;
  height: 24px;
  cursor: pointer;
  display: none;
  position: relative;
  
}

.menu-icon span {
  position: absolute;
  width: 100%;
  height: 3px;
  background:#00e5ff;
  border-radius: 3px;
  transition: all 0.4s ease;
}

.menu-icon span:nth-child(1) { top: 0; }
.menu-icon span:nth-child(2) { top: 50%; transform: translateY(-50%); }
.menu-icon span:nth-child(3) { bottom: 0; }

/* Active hamburger */
.menu-icon.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 6px);
}
.menu-icon.active span:nth-child(2) {
  opacity: 0;
}
.menu-icon.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -6px);
}

/* ================= MOBILE RIGHT SLIDE MENU ================= */
@media (max-width: 768px) {

  .menu-icon {
    display: block;
  }

 .nav-links {
  position: fixed;
  top: 70px;
  right: -100%;
  width: 200px;
  max-height: 60%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
  padding: 20px 0;

  background: linear-gradient(160deg, #0f1c2e, #12263a);
  border-left: 3px solid #4fd1c5;

  border-radius: 0 0 0 18px;
  box-shadow: -12px 10px 35px rgba(0,0,0,0.5);

  transition: right 0.4s ease-in-out;
}


  .nav-links.active {
    right: 0;
  }

  .nav-links a {
    width: 80%;
    text-align: center;
    font-size: 18px;
    padding: 12px 20px;
  }
}
